[submodule "notebin-service"]
    path = notebin-service
    url = https://github.com/sauce-chili/NoteBin-Service.git
    branch = master
[submodule "user-service"]
    path = user-service
    url = https://github.com/sauce-chili/NoteBin-UserService.git
    branch = main
[submodule "frontend"]
    path = frontend
    url = https://github.com/groza1338/NoteBin-frontend.git
    branch = main
